node_modules
npm-debug.log
.git
.gitignore
.github
.env
.eslintrc.json
.prettierrc.json
.vscode
.idea
.DS_Store
coverage
dist
*.log
e2e
__mocks__
.zap
.gemini
.vim
.husky
playwright-report
test-results
